/*style.css*/
@import url('https://fonts.googleapis.com/css?family=Ubuntu');

body{
	display: flex;
	flex-flow: row wrap;
  	justify-content: flex-end;
	background-image: linear-gradient(#AFCBFF,#A79AFF);

	font-family: 'Ubuntu', sans-serif;
}

footer{
	margin-top: 50px;
	margin-bottom: 50px;
	text-align: center;
}

h1{
	text-shadow: 3px 2px gray;
}

.intro{
  	display: flex;
  	flex-direction: column;
	text-align: center;
}


.preamble{
	border: 2px dashed #364EB9;
	border-radius: 7px;
	box-shadow: 5px 5px 5px gray;
	background-color: #ACE7FF;
	margin: 10px 700px 10px 80px;
	padding: 5px 10px 5px 10px;


}

.explanation{
	border: 2px dashed #364EB9;
	border-radius: 7px;
	box-shadow: 5px 5px 5px gray;
	background-color: #ACE7FF;
	margin: 10px 80px 10px 700px;
	padding: 5px 10px 5px 10px;
	text-align: center;
}

.participation{
	border: 2px dashed #364EB9;
	border-radius: 7px;
	box-shadow: 5px 5px 5px gray;
	background-color: #ACE7FF;
	margin: 10px 700px 10px 80px;
	padding: 5px 10px 5px 10px;
	text-align: center;
}

.benefits{
	border: 2px dashed #364EB9;
	border-radius: 7px;
	box-shadow: 5px 5px 5px gray;
	background-color: #ACE7FF;
	margin: 10px 80px 10px 700px;
	padding: 5px 10px 5px 10px;
	text-align: center;
}

.requirements{
	border: 2px dashed #364EB9;
	border-radius: 7px;
	box-shadow: 5px 5px 5px gray;
	background-color: #ACE7FF;
	margin: 10px 700px 10px 80px;
	padding: 5px 10px 5px 10px;
	text-align: center;
}

.design-selection{
	margin-left: 50px;
	margin-bottom: 50px;
	border-left: 2px solid #364EB9;
}

.design-archives{
	margin-left: 50px;
	margin-bottom: 50px;
	border-left: 2px solid #364EB9;
}

.zen-resources{
	margin-left: 50px;
	margin-bottom: 50px;
	border-left: 2px solid #364EB9;
}