/*style.css*/
@import url('https://fonts.googleapis.com/css?family=Ubuntu');

body{
	background-image: linear-gradient(#AFCBFF,#A79AFF);
	font-family: 'Ubuntu', sans-serif;
}

footer{
	margin-top: 50px;
	margin-bottom: 50px;
	text-align: center;
}

h1{
	text-shadow: 3px 2px gray;
}

.page-wrapper{
	display: flex;
  	flex-direction: row;
  	flex-flow: nowrap;
  	justify-content: space-around;
  	text-align: center;
  	align-items: baseline;
}

.preamble{
	order: 1;
	border: 2px dashed #364EB9;
	border-radius: 7px;
	box-shadow: 5px 5px 5px gray;
	background-color: #ACE7FF;
	margin: 5px 5px 5px 5px;
}
.explanation{
	border: 2px dashed #364EB9;
	border-radius: 7px;
	box-shadow: 5px 5px 5px gray;
	background-color: #ACE7FF;
	margin: 5px 5px 5px 5px;
}

.participation{
	border: 2px dashed #364EB9;
	border-radius: 7px;
	box-shadow: 5px 5px 5px gray;
	background-color: #ACE7FF;
	margin: 5px 5px 5px 5px;

}

.benefits{
	border: 2px dashed #364EB9;
	border-radius: 7px;
	box-shadow: 5px 5px 5px gray;
	background-color: #ACE7FF;
	margin: 5px 5px 5px 5px;

}

.requirements{
	border: 2px dashed #364EB9;
	border-radius: 7px;
	box-shadow: 5px 5px 5px gray;
	background-color: #ACE7FF;
	margin: 5px 5px 5px 5px;
}

.design-selection{
	margin-left: 10px;
	margin-bottom: 50px;
	border-left: 2px solid #364EB9;
}

.design-archives{
	margin-left: 10px;
	margin-bottom: 50px;
	border-left: 2px solid #364EB9;
}

.zen-resources{
	margin-left: 10px;
	margin-bottom: 50px;
	border-left: 2px solid #364EB9;
}
